{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}


<div>


    <p id="subtitulo">Mejora tu Nutrición</p>
    <div id="almilialeregalaronelcredito">
    <div class="columnanut"><a href="{{ path('fibra') }}"><img class="imgnut" src="Imagenes/Nutricion/why-eat-more-fiber-intro.jpg" /></a></div>
    <div class="columnanut"><a href="{{ path('ayuno') }}"><img class="imgnut" src="Imagenes/Nutricion/fasting-is-good-for-you-intro.jpg"/></a> </div>
    <div class="columnanut"><a href="{{ path('prepost') }}"><img class="imgnut" src="Imagenes/Nutricion/post-pre-workout-intro.jpg" /></a> </div>

    <div class="columnanut"><a class="blanco" href="{{ path('fibra') }}">¿Necesitamos comer más Fibra?</a></div>
    <div class="columnanut"><a class="blanco" href="{{ path('ayuno') }}">Ayuno Intermitente</a></div>
    <div class="columnanut"><a class="blanco" href="{{ path('prepost') }}">Nutrición Pre y Post Entrenamiento</a></div>



    <div class="columnanut"><a href="{{ path('calorias') }}"><img class="imgnut" src="Imagenes/Nutricion/calories-intro.jpg" /></a> </div>
    <div class="columnanut"><a href="{{ path('agua') }}"><img class="imgnut" src="Imagenes/Nutricion/drink-more-water-intro.jpg"/></a></div>
    <div class="columnanut"><a href="{{ path('alcohol') }}"><img class="imgnut" src="Imagenes/Nutricion/fitness-and-alcohol-intro.jpg" /></a> </div>

    <div class="columnanut"><a class="blanco" href="{{ path('calorias') }}">Como contar las calorias</a></div>
    <div class="columnanut"><a class="blanco" href="{{ path('agua') }}">Como beber mas agua</a></div>
    <div class="columnanut"><a class="blanco" href="{{ path('alcohol') }}">Alcohol y Fitness</a></div>
    </div>
        </body>





</div>
{% endblock %}
